

body{        
    padding-top: 50px;
    padding-bottom: 10px;
}
.container{
    width: 80%;
    margin: 0 auto; /* Center the DIV horizontally */
    text-size-adjust: 2px;
}
.fixed-header, .fixed-footer{
    text-align: center;
    width: 100%;
    position: fixed;      
    background: #333;
    padding: 10px 0;
    color: #fff;
}
.fixed-header{
    top: 0px;
}
.fixed-footer{
    bottom: 0px;
    text-align: center;
}    

nav a{
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}

.pagebody {
    margin-top: 150px;
}

.fixed-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .fixed-header li {
    float: left;
  }
  
  .fixed-header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .fixed-header li a:hover {
    background-color: #111;
  }

  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 50%;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

